@model Daycare.Models.DailyReport

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DailyReport</h4>
<hr />
@* 
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach (Student student in ViewBag.Students)
    {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.Name</td>
        </tr>
    }
</table> *@

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="StudentId" asp-items="ViewBag.Students"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Behavior" class="control-label"></label>
                <input asp-for="Behavior" class="form-control" />
                <span asp-validation-for="Behavior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPoops" class="control-label"></label>
                <input asp-for="NumberOfPoops" class="form-control" />
                <span asp-validation-for="NumberOfPoops" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

