@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Keep track of your students and create daily reports for them.</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="cutedino.png" alt="Image of a cute dinosaur">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Students</h5>
                        <p class="card-text mb-4">Keep track of all of your students in one place.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary mt-auto align-self-start" asp-area="" asp-controller="Student" asp-action="Index">View Students</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="bookworm.png" alt="Image of an apple and worm on a book">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Daily Reports</h5>
                        <p class="card-text mb-4">Keep track of all of your students' activities all in one place.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary mt-auto align-self-start" asp-area="" asp-controller="DailyReport" asp-action="Index">View Daily Reports</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
