@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Basically nothing in this site is secure or private. This is just for fun so don't put in any personal information.</p>
